.navbar {
  border-bottom: #ebebeb 1px solid;
  background-color: #333645;
  position: relative;
}

.navbar > .tab-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar > .tab-wrapper > .bar-child {
  width: 20%;
  background-color: #333645;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 19px;
  padding-bottom: 18px;
  line-height: 1;
  font-size: 1.125rem;
}

.navbar > .tab-wrapper > .bar-child:hover {
  cursor: pointer;
}

.navbar > .tab-wrapper > .bar-child > .tab-s-text {
  font-size: .7rem;
}

.navbar > .tab-wrapper > .bar-child > .icon-tab {
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 1px;
  position: relative;
}

.navbar > .tab-wrapper > .bar-child > .icon-tab > span > i {
  font-size: 1.438rem;
  line-height: 1;
}

.navbar > .tab-wrapper > .bar-child > .dd-background {
  display: none;
  padding: 22px 0px;
  z-index: 10;
  position: absolute;
  top: 100%;
  width: 200vw;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar > .tab-wrapper > .bar-child > .dd-background {
    width: 200vw;
    left: -100%;
  }
}

.navbar > .tab-wrapper > .bar-child > .drop-down {
  text-decoration: none;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100vw;
  padding: 8px 0px;
  z-index: 10;
}

.navbar > .tab-wrapper > .bar-child > .drop-down > ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  left: -15px;
}

.navbar > .tab-wrapper > .bar-child > .drop-down > ul > li {
  display: block;
  float: left;
  padding: 10px 15px;
}

.navbar > .tab-wrapper > .web-tab:hover {
  background-color: #926fb1;
}

.navbar > .tab-wrapper > .web-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .web-tab:hover > .dd-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.navbar > .tab-wrapper > .web-tab:hover > .dd-web > ul {
  background-color: #79539a;
}

.navbar > .tab-wrapper > .web-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.navbar > .tab-wrapper > .IT-tab:hover {
  background-color: #4183d7;
}

.navbar > .tab-wrapper > .IT-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .IT-tab:hover > .dd-IT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.navbar > .tab-wrapper > .IT-tab:hover > .dd-IT > ul {
  background-color: #286abd;
}

.navbar > .tab-wrapper > .IT-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.navbar > .tab-wrapper > .telecoms-tab:hover {
  background-color: #d64541;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .dd-telecoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .dd-telecoms > ul {
  background-color: #bc2c28;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.navbar > .tab-wrapper > .bespoke-tab:hover {
  background-color: #67809f;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .dd-bespoke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .dd-bespoke > ul {
  background-color: #526781;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.navbar > .tab-wrapper > .marketing-tab:hover {
  background-color: #23cc71;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .dd-marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .dd-marketing > ul {
  background-color: #25a25a;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.navbar > .tab-wrapper > .security-tab:hover {
  background-color: #de093f;
}

.navbar > .tab-wrapper > .security-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .security-tab:hover > .dd-security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f62459;
}

.navbar > .tab-wrapper > .security-tab:hover > .dd-security > ul {
  background-color: #f62459;
}

.navbar > .tab-wrapper > .security-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f62459;
}

.navbar > .tab-wrapper > .tab-s-text {
  font-size: 0.7rem;
}

.navbar > .tab-wrapper > .tab-lg-text {
  font-size: 1.05rem;
}

@media only screen and (max-width: 1010px) {
  .navbar {
    display: none;
  }
}

@media only screen and (min-width: 1010px) {
  .navbar > .tab-wrapper {
    width: 1009px;
    margin: 0 auto;
  }
  .navbar > .tab-wrapper > .bar-child > .drop-down > ul > li {
    font-size: 0.805rem;
  }
}

@media only screen and (min-width: 1280px) {
  .navbar .tab-wrapper {
    min-width: 1298px;
    margin: 0 auto;
  }
  .navbar .tab-wrapper > .bar-child > .drop-down > ul > li {
    font-size: 1.0rem;
  }
}

.banner {
  height: 100%;
  min-width: 100%;
  position: relative;
  background-image: url("../../img/security.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner > .banner-overlay {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#000)), rgba(0, 0, 0, 0.15);
  background: linear-gradient(270deg, transparent 0%, #000), rgba(0, 0, 0, 0.15);
}

.banner > .banner-overlay > .banner-text {
  margin: 0 auto;
  text-align: center;
  display: block;
  padding: 20% 0%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.banner > .banner-overlay > .banner-text > h1 {
  font-size: 3rem;
  letter-spacing: .4px;
  font-weight: 400;
}

.banner > .banner-overlay > .banner-text > a {
  color: #fff;
}

.banner > .banner-overlay > .banner-text > .btn-banner {
  background-color: #de093f;
  color: #fff;
  border-radius: 3px;
  border: none;
  padding: 5px 20px;
  height: auto;
  font-size: 1.25rem;
  line-height: 50px;
  margin: 30px 0;
}

.banner > .banner-overlay > .banner-text > .btn-banner:hover {
  background-color: #f62459;
  cursor: pointer;
}

@media only screen and (min-width: 1280px) {
  .banner-text {
    width: 1300px;
  }
  .banner-text > h1, .banner-text p {
    text-align: left;
  }
  .banner-text > button {
    float: left;
  }
}

.nav-cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-cards > button:hover {
  cursor: pointer;
}

.nav-cards > .xl-row-nav > .card-nav, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  position: relative;
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 1rem 1rem;
}

.nav-cards > .xl-row-nav > .card-nav > p, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > p {
  font-size: .8125rem;
}

.nav-cards > .xl-row-nav > .card-nav > h2, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > h2 {
  position: relative;
  font-size: 1.125rem;
  padding-bottom: 17px;
  margin: 0 0 11px;
  font-weight: 200;
  color: #333645;
  text-align: center;
  line-height: 1.1;
  display: block;
}

.nav-cards > .xl-row-nav > .card-nav > h2::after, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > h2::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
}

.nav-cards > .xl-row-nav > .card-nav:hover > p, .nav-cards > .xl-row-nav > .card-nav:hover h2, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav:hover > p, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav:hover h2 {
  color: #fff;
}

.nav-cards > .xl-row-nav > .card-nav:hover > h2::after, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav:hover > h2::after {
  background-color: #fff;
}

.nav-cards > .xl-row-nav > .card-nav > .nav-icon-con, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .nav-icon-con {
  min-width: 50px;
  min-height: 50px;
  max-width: 51px;
  max-height: 51px;
  border-radius: 50%;
  margin: 0 auto 17px;
  position: relative;
  font-weight: 600;
}

.nav-cards > .xl-row-nav > .card-nav > .nav-icon-con > span > span > i, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .nav-icon-con > span > span > i {
  position: absolute;
  top: 16px;
  left: 16px;
}

.nav-cards > .xl-row-nav > .card-nav > span, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > span {
  text-align: center;
}

.nav-cards > .xl-row-nav > .card-nav > .btn-nav, .nav-cards .xxl-row-nav .lg-row-nav > .card-nav > .btn-nav {
  min-height: 45px;
  max-height: 45px;
  width: 150px;
  line-height: 35px;
  font-size: 1.063rem;
  white-space: normal;
  border: none;
  color: #fff;
  border-radius: 3px;
  padding: 5px 15px;
  display: block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.bespoke, #btn-bespoke {
  background-color: #67809f;
}

.IT, #btn-IT {
  background-color: #4183d7;
}

.marketing, #btn-marketing {
  background-color: #23cc71;
}

.telecoms, #btn-telecoms {
  background-color: #d64541;
}

.web-design, #btn-web {
  background-color: #79539a;
}

.security, #btn-security {
  background-color: #f62459;
}

.schools, #btn-school {
  background-color: #79539a;
}

.card-bespoke:hover {
  background-color: #67809f;
  color: #fff;
  cursor: pointer;
}

.card-bespoke:hover .nav-icon-con, .card-bespoke:hover #btn-bespoke {
  background-color: #fff;
  color: #67809f;
}

.card-bespoke:hover .spacer-rule {
  background-color: #fff;
}

.card-bespoke:hover i {
  color: #67809f;
}

.card-IT:hover {
  background-color: #4183d7;
  color: #fff;
  cursor: pointer;
}

.card-IT:hover .nav-icon-con, .card-IT:hover #btn-IT {
  background-color: #fff;
  color: #4183d7;
}

.card-IT:hover .spacer-rule {
  background-color: #fff;
}

.card-IT:hover i {
  color: #4183d7;
}

.card-marketing:hover {
  background-color: #23cc71;
  color: #fff;
  cursor: pointer;
}

.card-marketing:hover .nav-icon-con, .card-marketing:hover #btn-marketing {
  background-color: #fff;
  color: #23cc71;
}

.card-marketing:hover .spacer-rule {
  background-color: #fff;
}

.card-marketing:hover i {
  color: #23cc71;
}

.card-telecoms:hover {
  background-color: #d64541;
  color: #fff;
  cursor: pointer;
}

.card-telecoms:hover .nav-icon-con, .card-telecoms:hover #btn-telecoms {
  background-color: #fff;
  color: #d64541;
}

.card-telecoms:hover .spacer-rule {
  background-color: #fff;
}

.card-telecoms:hover i {
  color: #d64541;
}

.card-web:hover {
  background-color: #79539a;
  color: #fff;
  cursor: pointer;
}

.card-web:hover .nav-icon-con, .card-web:hover #btn-web {
  background-color: #fff;
  color: #79539a;
}

.card-web:hover .spacer-rule {
  background-color: #fff;
}

.card-web:hover i {
  color: #79539a;
}

.card-security:hover {
  background-color: #f62459;
  color: #fff;
  cursor: pointer;
}

.card-security:hover .nav-icon-con, .card-security:hover #btn-security {
  background-color: #fff;
  color: #f62459;
}

.card-security:hover i {
  color: #f62459;
}

.card-schools:hover {
  background-color: #79539a;
  color: #fff;
  cursor: pointer;
}

.card-schools:hover .nav-icon-con, .card-schools:hover #btn-school {
  background-color: #fff;
  color: #79539a;
}

.card-schools:hover i {
  color: #79539a;
}

@media only screen and (max-width: 1009px) {
  .bespoke, .marketing, .IT, .telecoms, .security, .web-design, .schools {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .lg-row-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 768px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
  }
  .security, .schools, .web-design, .telecoms {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  .card-security, .card-schools, .card-web, .card-telecoms {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1009px) {
  .xl-row-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1009px;
    margin: 25px auto;
  }
}

@media only screen and (min-width: 1009px) and (-ms-high-contrast: active), only screen and (min-width: 1009px) and (-ms-high-contrast: none) {
  .xl-row-nav > .card-nav {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1009px) {
  .bespoke, .IT, .marketing {
    width: 33.3%;
    float: left;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .nav-cards {
    width: 1298px;
    margin: 0 auto;
  }
  .xxl-row-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 45px auto;
  }
  .lg-row-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 auto;
    padding: 0 0;
  }
  .card-security, .card-schools, .card-web, .card-telecoms {
    width: 45%;
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
  }
  .security, .schools, .web-design, .telecoms {
    width: 45%;
    height: 100%;
    display: block;
    float: left;
    margin: 0 auto;
  }
}

@-moz-document url-prefix() {
  .card-nav > p {
    margin-bottom: 15px;
  }
}

.culture-back {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px 15px;
  text-align: left;
}

.culture-back > p, .culture-back h2 {
  color: #fff;
  padding: 15px 15px;
}

.culture-back > p strong, .culture-back h2 strong {
  font-weight: 600;
}

.culture-back > h2 {
  font-weight: 400;
  font-size: 2.25rem;
}

.culture-back > .btn-culture {
  color: #333645;
  background-color: #fff;
  border-radius: 3px;
  height: 50px;
  display: block;
  width: auto;
  padding: 5px 15px;
  border: none;
  line-height: 35px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.culture-back > .btn-culture > a {
  color: #333645;
  position: relative;
}

.culture-back > .btn-culture > a > img {
  position: absolute;
  top: 0px;
  left: 110%;
}

.culture-back > .btn-culture:hover {
  background-color: #ebebeb;
}

.culture {
  background-color: #333645;
}

@media only screen and (min-width: 1009px) {
  .culture {
    background-image: url("../img/netmatters-transp.png");
    background-repeat: no-repeat;
    background-color: #333645;
    background-position: right;
  }
  .culture-back {
    width: 1298px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0);
  }
  .culture-back > p, .culture-back h1 {
    width: 50%;
  }
}

.news-header-con {
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
}

.news-header-section {
  padding: 40px 30px;
  margin-bottom: 30px;
}

.news-header-section > .latest {
  padding-left: 0px;
  padding-bottom: 0px;
  display: inline-block;
  margin-bottom: -10px;
  color: #333645;
  font-size: 1.25rem;
  position: relative;
}

.news-header-section > .latest > .bar-news::after {
  content: "";
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: #333645;
  height: 5px;
}

.news-section {
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
}

.news-section .news-cards {
  padding: 10px 0px;
  margin: 0px auto;
}

.news-section .news-cards > .card-news {
  margin: 20px 20px;
}

.news-section .news-cards > .card-news > .minilink {
  position: absolute;
  top: 10px;
  right: 0%;
  background-color: #926fb1;
  color: #fff;
  text-decoration: none;
  z-index: 3;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: .4px;
}

.news-section .news-cards > .card-news > .minilink:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news-section .news-cards > .card-news > .news-image {
  width: 100%;
  height: auto;
  border-radius: 3px;
  border: none;
  overflow: hidden;
  position: relative;
}

.news-section .news-cards > .card-news > .news-image > .img-overlay > .cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: background-color .3s linear;
  transition: background-color .3s linear;
  opacity: 0.3;
}

.news-section .news-cards > .card-news > .news-image > .img-overlay > img {
  width: 100%;
  background-size: cover;
  height: auto;
  -webkit-transition: background-color .3s, -webkit-transform .3s;
  transition: background-color .3s, -webkit-transform .3s;
  transition: transform .3s, background-color .3s;
  transition: transform .3s, background-color .3s, -webkit-transform .3s;
  opacity: 1;
}

.news-section .news-cards > .card-news > .news-container {
  padding: 30px 30px;
  position: relative;
  height: 330px;
}

.news-section .news-cards > .card-news > .news-container > p {
  color: #666;
  margin-bottom: 30px;
  font-size: .8125rem;
}

.news-section .news-cards > .card-news > .news-container > h4 {
  color: #000;
}

.news-section .news-cards > .card-news > .news-container > .heading-link {
  color: #926fb1;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.news-section .news-cards > .card-news > .news-container > .heading-link > .news-title-link {
  text-decoration: none;
  color: #926fb1;
}

.news-section .news-cards > .card-news > .news-container > .heading-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news-section .news-cards > .card-news > .news-container > .readmore-btn {
  color: #fff;
  background-color: #926fb1;
  border-radius: 3px;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 15px;
  position: absolute;
  top: 150px;
  left: 30px;
}

.news-section .news-cards > .card-news > .news-container > .readmore-btn:hover {
  background-color: #7e57a0;
  cursor: pointer;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper {
  position: absolute;
  top: 220px;
  bottom: 0;
  left: 30px;
  right: 0;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  vertical-align: middle;
  width: 100%;
  position: relative;
  margin-top: 10px;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot::before {
  position: absolute;
  top: -5px;
  left: 0px;
  content: "";
  width: 90%;
  height: 2px;
  background-color: #ddd;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar, .news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot .post-info {
  display: inline-block;
  vertical-align: middle;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar > .minilogo, .news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot .post-info > .minilogo {
  height: auto;
  width: 47px;
  border-radius: 50%;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .post-info {
  padding-left: 20px;
  padding-top: 20px;
  line-height: 20px;
  height: auto;
  font-size: .875rem;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .post-info > p {
  color: #666;
}

.news-section .news-cards > .card-news > .news-container > .foot-wrapper > .card-foot > .avatar {
  margin-top: 15px;
}

.avatar-img {
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .news-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news-cards > .card:last-of-type {
    display: none;
  }
  .card-news {
    padding: 0 0px;
  }
}

@media only screen and (min-width: 1280px) {
  .news-cards {
    width: 1298px;
    margin: 0 auto;
  }
  .news-cards > .card:last-of-type {
    display: block;
  }
  .news-image:hover > .img-overlay > img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    background-color: #fff;
  }
  .news-image:hover .cover {
    z-index: 2;
    background-color: #fff;
  }
}

.companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 100px;
  padding: 50px 15px;
}

.companies > .company {
  display: inline-block;
}

.companies > .company > img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

.companies > .company > .tooltiptext {
  background-color: #333645;
  color: #fff;
  visibility: hidden;
  min-width: 260px;
  height: auto;
  text-align: center;
  padding: 15px 15px;
  position: absolute;
  z-index: 5;
  bottom: 70%;
  left: 25%;
  line-height: 30px;
  margin-left: -60px;
  margin-bottom: 70px;
  font-size: 1.0rem;
}

.companies > .company > .tooltiptext > h3 {
  padding: 10px 10px;
}

.companies > .company > .tooltiptext > p {
  padding: 10px 10px;
  font-size: .875rem;
  line-height: 1.42857143;
}

.companies > .company > .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 43%;
  margin-left: -20px;
  border-width: 40px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.companies > .company > .tooltiptext > .spacer-rule {
  background-color: #fff;
  margin: 0 45%;
}

.companies > .company > .tbeat {
  left: -45%;
}

.companies > .company > .tcrane {
  left: -0%;
}

.companies > .company > .tbus {
  left: 10%;
}

.companies > .company > .tnorth {
  left: 18%;
}

.companies > .con-beat, .companies .con-bus, .companies .con-crane, .companies .con-north {
  position: relative;
}

.companies > .con-beat > img:last-of-type, .companies .con-bus > img:last-of-type, .companies .con-crane > img:last-of-type, .companies .con-north > img:last-of-type {
  display: none;
}

.companies > .con-beat:hover > img:first-of-type, .companies .con-bus:hover > img:first-of-type, .companies .con-crane:hover > img:first-of-type, .companies .con-north:hover > img:first-of-type {
  display: none;
}

.companies > .con-beat:hover > img:last-of-type, .companies .con-bus:hover > img:last-of-type, .companies .con-crane:hover > img:last-of-type, .companies .con-north:hover > img:last-of-type {
  display: block;
}

.companies > .con-beat:hover > .tooltiptext, .companies .con-bus:hover > .tooltiptext, .companies .con-crane:hover > .tooltiptext, .companies .con-north:hover > .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 768px) {
  .companies, .awards-1, .awards-2, .awards {
    display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .companies > .company > img {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media only screen and (max-width: 1009px) {
  .companies > .company > img {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

.newsletter {
  background-color: #ddd;
  height: 100%;
}

.sign-up-form {
  height: 100%;
  background-color: #ddd;
  color: #333645;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
  margin: 0 30px;
  position: relative;
  z-index: 1;
}

.sign-up-form > .form {
  padding: 20px 30px;
}

.sign-up-form > .form > h2 {
  font-size: 2rem;
  font-weight: 400;
}

.sign-up-form > .form > .form-box > .form-group {
  margin-right: 30px;
}

.sign-up-form > .form > .form-box > .form-group > label {
  margin-bottom: 5px;
  font-weight: 600;
}

.sign-up-form > .form > .form-box > .form-group > label > span {
  color: red;
}

.sign-up-form > .form > .form-box > .form-group > .field {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px #dddddd;
          box-shadow: inset 0 1px 1px #dddddd;
  -webkit-transition: border-color .3s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .3s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .3s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .3s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  height: 45px;
  width: 100%;
}

.sign-up-form > .form > .form-box > .form-group > .field:focus {
  border-color: #5bc0de;
  -webkit-box-shadow: inset 0 1px 1px #dddddd, 0 0 8px #5bc0de;
          box-shadow: inset 0 1px 1px #dddddd, 0 0 8px #5bc0de;
}

.sign-up-form > .form > .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sign-up-form > .form > .checkbox > .fakebox-IE {
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: -1;
  border: 3px solid #333645;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .sign-up-form > .form > .checkbox > .fakebox-IE {
    display: block;
  }
}

.sign-up-form > .form > .checkbox > label {
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
}

.sign-up-form > .form > .checkbox > span > label {
  color: #333645;
  font-weight: 600;
  line-height: 32px;
}

.sign-up-form > .form > .checkbox > span > label:hover {
  cursor: pointer;
}

.sign-up-form > .form > .checkbox > input {
  border: 3px solid #333645;
  height: 30px;
  min-width: 30px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 3px;
  display: block;
}

.sign-up-form > .form > .checkbox > input:checked {
  background: #333645;
}

.sign-up-form > .form > .checkbox > input:checked ~ label {
  display: inline;
}

.sign-up-form > .form > .checkbox > input:not(:checked) {
  border: 3px solid #333645;
  height: 30px;
  min-width: 30px;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 3px;
  display: block;
}

.sign-up-form > .form > .checkbox > input:hover {
  cursor: pointer;
}

.sign-up-form > .form > button {
  color: #fff;
  background-color: #333645;
  border-radius: 3px;
  border: none;
  height: auto;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 1.063rem;
  font-weight: 400;
}

.sign-up-form > .form > button:hover {
  background-color: #22242e;
  border-color: #121419;
  cursor: pointer;
}

.policy {
  color: #333645;
  text-decoration: underline;
}

.policy:hover {
  color: #121419;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (min-width: 1009px) {
  .form-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
  .form-group {
    padding: 0px 0px;
    margin-bottom: 15px;
    width: 50%;
    height: 47px;
  }
  .sign-up-form {
    width: 1010px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .sign-up-form {
    width: 1298px;
    margin: 0 auto;
  }
}

.spacer-rule {
  width: 10%;
  height: 3px;
  background-color: #333645;
  border: none;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  color: #666;
}

.logo {
  display: block;
  max-width: 100%;
  margin-top: 15px;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 15px;
}

.header > .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  vertical-align: middle;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px auto;
  position: relative;
}

.header > .header-inner .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header > .header-inner .buttons > .support, .header > .header-inner .buttons .hamburger {
  position: absolute;
}

.header > .header-inner .buttons > .support {
  display: block;
  top: 45px;
  right: 50px;
}

.header > .header-inner .buttons > .support > i {
  height: 56px;
  width: 56px;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.header > .header-inner .buttons > .support::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  width: 30px;
  height: 3px;
  background-color: #000;
  display: none;
}

.header > .header-inner .buttons > .support:hover::after {
  display: block;
}

.header > .header-inner .buttons > .header-button {
  padding: 15px  25px 15px 10px;
  height: 56px;
  width: 130px;
}

.header > .header-inner .buttons > .header-button > i {
  padding: 5px 15px;
  padding-right: 5px;
  font-size: 18px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header > .header-inner .buttons > .header-button > i {
    padding-right: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header > .header-inner .buttons > .header-button {
    padding: 15px 10px 15px 0;
  }
}

.header > .header-inner .buttons > .support-xl {
  background-color: #4183d7;
}

.header > .header-inner .buttons > .support-xl:hover {
  background-color: #286abd;
}

.header > .header-inner .buttons > .contact-xl {
  background-color: #999aa2;
}

.header > .header-inner .buttons > .contact-xl:hover {
  background-color: #84858f;
}

.header > .header-inner .buttons > .hamburger {
  background-color: #333645;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 0.1rem;
  height: 56px;
  display: block;
  top: 15px;
  right: 0px;
  padding: 10px 12px;
}

.header > .header-inner .buttons > .hamburger > .menutext {
  font-size: 0.75rem;
  line-height: 1.6rem;
  margin-top: 5px;
}

.header > .header-inner .buttons > .hamburger:hover {
  background-color: #22242e;
}

.header > .searchbar > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header > .searchbar > form > input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-right: none;
  background-color: rgba(0, 0, 0, 0.1);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
  color: #666;
  height: 47px;
  width: 1200px;
  position: relative;
}

.header > .searchbar > form > input[type=text]:focus {
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
}

.header > .searchbar > form > input[type=text]:focus ~ .mobile-sbtn {
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
}

.header > .searchbar > form > button {
  padding: 12px 10px;
  margin-top: 8px;
  margin-right: 0px;
  min-width: 50px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: 17px;
  cursor: pointer;
  height: 47px;
  -webkit-box-shadow: inset 0 0px 0px #cccccc;
          box-shadow: inset 0 0px 0px #cccccc;
}

@media only screen and (max-width: 768px) {
  .searchbar-lg {
    display: none;
  }
  .searchbar-mobile {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .searchbar-mobile > button {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
  .logo {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .support > i {
    display: none;
  }
  .header {
    margin-bottom: 30px;
  }
  .header > .searchbar-mobile {
    display: none;
  }
  .header > .searchbar-mobile > i {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .searchbar-lg {
    position: absolute;
    top: 15px;
    right: 140px;
  }
  .searchbar-lg > form {
    position: relative;
  }
  .searchbar-lg > form > input {
    width: 200px;
    height: 56px;
    border: 1px solid #999aa2;
    padding-left: 15px;
    padding-right: 30px;
  }
  .searchbar-lg > form > input:focus {
    border-color: #5bc0de;
    -webkit-box-shadow: 0 0 8px #5bc0de;
            box-shadow: 0 0 8px #5bc0de;
  }
  .searchbar-lg > form > button {
    position: absolute;
    background-color: #999aa2;
    border: inherit;
    height: 56px;
    width: 63px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    top: 0px;
    right: -40px;
    padding: 7px 20px 3px;
  }
  .searchbar-lg > form > button > i {
    font-size: 20px;
  }
  .searchbar-lg > form > button:hover {
    background-color: #84858f;
  }
}

@media (max-width: 1009px) {
  .header-button {
    display: none;
  }
}

@media (min-width: 1009px) {
  .hidden-lg-min {
    display: none !important;
  }
}

@media only screen and (min-width: 1009px) {
  .searchbar-lg > form {
    border: none;
  }
  .searchbar-lg > form > input {
    display: none;
  }
  .searchbar-lg > form > button {
    border-radius: 3px;
    right: -20px;
    top: 0px;
  }
  .support-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 350px;
  }
  .contact-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 200px;
  }
  .header-inner {
    width: 1010px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .header-inner {
    width: 1298px;
    margin: 0 auto;
  }
  .searchbar-lg > form > input {
    display: block;
    border: 1px solid #999aa2;
  }
  .searchbar-lg > form > button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: -40px;
  }
  .support-xl {
    right: 530px;
  }
  .support-xl > fa-mouse {
    margin-right: 20px;
  }
  .contact-xl {
    right: 380px;
  }
}

@media (max-width: 1009px) and (min-width: 440px) {
  .searchbar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-ordinal-group: last;
        -ms-flex-order: last;
            order: last;
  }
}

footer {
  background-color: #333645;
}

footer .footer-main p {
  font-size: .8125rem;
  line-height: 1.375rem;
}

footer .footer-main .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
  margin: 0 auto;
}

footer .footer-main .footer-content > div {
  color: white;
  text-decoration: none;
  margin-bottom: 30px;
}

footer .footer-main .footer-content > div ul li {
  list-style-type: none;
  font-size: .8125rem;
  line-height: 1.375rem;
}

footer .footer-main .footer-content > div h4 {
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 1rem;
}

footer .footer-main .footer-content > div a {
  text-decoration: none;
  color: white;
}

footer .footer-main .footer-content > div a:hover {
  text-decoration: underline;
}

footer .footer-main .footer-content .social-con .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

footer .footer-main .footer-content .social-con .button-container a {
  display: block;
  text-align: center;
  min-width: 45%;
  height: 50px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
}

footer .footer-main .footer-content .social-con .button-container .facebook:hover {
  background-color: #3b5998;
}

footer .footer-main .footer-content .social-con .button-container .twitter:hover {
  background-color: #00aced;
}

footer .footer-main .footer-content .social-con .button-container .linked-in:hover {
  background-color: #0077b5;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  footer .footer-main .footer-content .social-con .button-container > .twitter {
    margin-left: 30px;
  }
  footer .footer-main .footer-content .social-con .button-container > .linked-in {
    margin-top: 20px;
  }
}

.awards {
  background-color: #fff;
  padding: 50px 0px;
}

.awards-1,
.awards-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 30px;
  margin-left: 64px;
  margin-right: 64px;
}

.awards-1 > .greyscale img:first-of-type,
.awards-2 > .greyscale img:first-of-type {
  display: block;
}

.awards-1 > .greyscale img:last-of-type,
.awards-2 > .greyscale img:last-of-type {
  display: none;
}

.awards-1 > .greyscale:hover img:first-of-type,
.awards-2 > .greyscale:hover img:first-of-type {
  display: none;
}

.awards-1 > .greyscale:hover img:last-of-type,
.awards-2 > .greyscale:hover img:last-of-type {
  display: block;
}

.awards-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  footer .footer-main .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 30px 15px;
  }
  footer .footer-main .footer-content > div {
    width: 50%;
  }
}

@media (min-width: 1009px) {
  footer .footer-main .footer-content {
    width: 1010px;
    padding: 30px 0px;
  }
  footer .footer-main .footer-content > div {
    margin: 0 auto;
    width: 25%;
  }
}

@media (min-width: 1080px) {
  footer .footer-main .footer-content {
    width: 1096px;
    padding: 30px 0px;
  }
  footer .footer-main .footer-content > div {
    margin: 0 auto;
    width: 20%;
  }
  footer .footer-main .footer-content > .social-con {
    width: 30%;
  }
}

@media (min-width: 1280px) {
  footer .footer-main .footer-content {
    width: 1296px;
    padding: 30px 0px;
  }
  footer .footer-main .footer-content > div {
    margin: 0 auto;
    width: 20%;
  }
  footer .footer-main .footer-content > .social-con {
    width: 30%;
  }
}

@-moz-document url-prefix() {
  .button-container > a > img {
    height: 30px;
    width: 30px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .button-container > a {
    margin-bottom: 15px;
  }
}

.hamburger {
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 32px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

/*
     * Elastic
     */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  -webkit-transition-duration: 0.275s;
          transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 7px;
  -webkit-transition: opacity 0.125s 0.275s ease;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 14px;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 7px, 0) rotate(135deg);
          transform: translate3d(0, 7px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -14px, 0) rotate(-270deg);
          transform: translate3d(0, -14px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

* {
  margin: 0 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ul, * li, * a, * p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* a {
  text-decoration: none;
}

* input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

* input[type="email"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

* input[type="checkbox"]::-ms-check {
  display: none;
  width: 0;
  height: 0;
}

.card, .card-nav {
  display: block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}

.card > hr, .card-nav > hr {
  width: 90%;
}

*:focus {
  outline: none;
}

body {
  overflow-x: hidden;
}

.supportIcon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='1.75rem' height='1.75rem' viewBox='0 0 512 512'%3E%3C!-- Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) --%3E%3Cpath d='M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
  .hidden-xs {
    display: none !important;
  }
}

@media (max-width: 1009px) {
  .hidden-sm {
    display: none !important;
  }
}

@media only screen and (max-width: 443px) {
  .header-inner, .searchbar-mobile, .banner-text,
  .nav-cards, .culture-back, .news-header-section,
  .news-cards, .companies, .sign-up-form, .footer-content {
    width: 425px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .header-inner, .searchbar-mobile, .banner-text,
  .nav-cards, .culture-back, .news-header-section,
  .news-cards, .companies, .sign-up-form, .footer-content {
    width: 768px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1010px) {
  .header-inner, .searchbar-mobile, .banner-text, .tab-wrapper,
  .lg-row-nav, .nav-cards, .culture-back, .news-header-section,
  .news-cards, .companies, .sign-up-form, .footer-content, .awards-1, .awards-2 {
    width: 1009px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .header-inner, .searchbar-mobile, .banner-text, .tab-wrapper,
  .xl-row-nav, .xxl-row-nav, .nav-cards,
  .culture-back, .news-header-section, .companies,
  .news-cards, .footer-content, .sign-up-form, .awards-1, .awards-2 {
    width: 1298px;
    margin: 0 auto;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .menutext {
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 25px;
    right: 12px;
  }
  .hamburger-inner {
    margin-bottom: 20px;
    margin-top: -8px;
  }
}

@-moz-document url-prefix() {
  .menutext {
    margin: 0 0;
    padding: 0 0;
    position: absolute;
    top: 25px;
    right: 12px;
  }
  .hamburger-inner {
    margin-bottom: 20px;
    margin-top: -8px;
  }
}
/*# sourceMappingURL=main.css.map */