* {
  margin: 0 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ul, * li, * a, * p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* a {
  text-decoration: none;
}

* input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

* input[type="email"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

* input[type="checkbox"]::-ms-check {
  display: none;
  width: 0;
  height: 0;
}

.navbar {
  border-bottom: #ebebeb 1px solid;
  background-color: #333645;
  position: relative;
}

.navbar > .tab-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.navbar > .tab-wrapper > .bar-child {
  width: 20%;
  background-color: #333645;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: 19px;
  padding-bottom: 18px;
  line-height: 1;
  font-size: 1.125rem;
}

.navbar > .tab-wrapper > .bar-child:hover {
  cursor: pointer;
}

.navbar > .tab-wrapper > .bar-child > .tab-s-text {
  font-size: .625rem;
}

.navbar > .tab-wrapper > .bar-child > .icon-tab {
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.3rem;
  line-height: 1px;
  position: relative;
}

.navbar > .tab-wrapper > .bar-child > .icon-tab > span > i {
  font-size: 1.438rem;
  line-height: 1;
}

.navbar > .tab-wrapper > .bar-child > .dd-background {
  display: none;
  padding: 22px 0px;
  z-index: 10;
  position: absolute;
  top: 100%;
  width: 200vw;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .navbar > .tab-wrapper > .bar-child > .dd-background {
    width: 200vw;
    left: -100%;
  }
}

.navbar > .tab-wrapper > .bar-child > .drop-down {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100vw;
  padding: 8px 0px;
  z-index: 10;
}

.navbar > .tab-wrapper > .bar-child > .drop-down > ul {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  float: left;
  list-style: none;
  text-align: left;
  margin: 0 auto;
  position: absolute;
  left: -15px;
}

.navbar > .tab-wrapper > .bar-child > .drop-down > ul > li {
  display: block;
  float: left;
  padding: 10px 15px;
}

.navbar > .tab-wrapper > .web-tab:hover {
  background-color: #926fb1;
}

.navbar > .tab-wrapper > .web-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .web-tab:hover > .dd-web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.navbar > .tab-wrapper > .web-tab:hover > .dd-web > ul {
  background-color: #79539a;
}

.navbar > .tab-wrapper > .web-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #79539a;
}

.navbar > .tab-wrapper > .IT-tab:hover {
  background-color: #4183d7;
}

.navbar > .tab-wrapper > .IT-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .IT-tab:hover > .dd-IT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.navbar > .tab-wrapper > .IT-tab:hover > .dd-IT > ul {
  background-color: #286abd;
}

.navbar > .tab-wrapper > .IT-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #286abd;
}

.navbar > .tab-wrapper > .telecoms-tab:hover {
  background-color: #d64541;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .dd-telecoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .dd-telecoms > ul {
  background-color: #bc2c28;
}

.navbar > .tab-wrapper > .telecoms-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bc2c28;
}

.navbar > .tab-wrapper > .bespoke-tab:hover {
  background-color: #67809f;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .dd-bespoke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .dd-bespoke > ul {
  background-color: #526781;
}

.navbar > .tab-wrapper > .bespoke-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #526781;
}

.navbar > .tab-wrapper > .marketing-tab:hover {
  background-color: #23cc71;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .dd-marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .dd-marketing > ul {
  background-color: #25a25a;
}

.navbar > .tab-wrapper > .marketing-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #25a25a;
}

.navbar > .tab-wrapper > .security-tab:hover {
  background-color: #f62459;
}

.navbar > .tab-wrapper > .security-tab:hover > .icon-tab > span > i {
  color: #fff;
}

.navbar > .tab-wrapper > .security-tab:hover > .dd-security {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de093f;
}

.navbar > .tab-wrapper > .security-tab:hover > .dd-security > ul {
  background-color: #de093f;
}

.navbar > .tab-wrapper > .security-tab:hover > .dd-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #de093f;
}

.navbar > .tab-wrapper > .tab-s-text {
  font-size: 0.7rem;
}

.navbar > .tab-wrapper > .tab-lg-text {
  font-size: 1.05rem;
}

.hamburger {
  padding: 8px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 32px;
  height: 17px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 32px;
  height: 3px;
  background-color: #fff;
  border-radius: 0px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -7px;
}

.hamburger-inner::after {
  bottom: -7px;
}

/*
     * Elastic
     */
.hamburger--elastic .hamburger-inner {
  top: 1.5px;
  -webkit-transition-duration: 0.275s;
          transition-duration: 0.275s;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 7px;
  -webkit-transition: opacity 0.125s 0.275s ease;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 14px;
  -webkit-transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, 7px, 0) rotate(135deg);
          transform: translate3d(0, 7px, 0) rotate(135deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -14px, 0) rotate(-270deg);
          transform: translate3d(0, -14px, 0) rotate(-270deg);
  -webkit-transition-delay: 0.075s;
          transition-delay: 0.075s;
}

.logo {
  display: block;
  max-width: 100%;
  margin-top: 15px;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0 15px;
}

.header > .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  vertical-align: middle;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 30px auto;
  position: relative;
}

.header > .header-top .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
}

.header > .header-top .buttons > .support, .header > .header-top .buttons .hamburger {
  position: absolute;
}

.header > .header-top .buttons > .support {
  display: block;
  top: 45px;
  right: 50px;
}

.header > .header-top .buttons > .support > i {
  height: 56px;
  width: 56px;
  -webkit-transform: scale(1.75);
          transform: scale(1.75);
}

.header > .header-top .buttons > .support::after {
  content: "";
  position: absolute;
  top: 15px;
  left: -25px;
  width: 30px;
  height: 3px;
  background-color: #000;
  display: none;
}

.header > .header-top .buttons > .support:hover::after {
  display: block;
}

.header > .header-top .buttons > .big-beautiful-button {
  padding: 15px 30px;
  height: 56px;
  width: 130px;
}

.header > .header-top .buttons > .big-beautiful-button > i {
  padding: 5px 15px;
  padding-right: 5px;
  font-size: 18px;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header > .header-top .buttons > .big-beautiful-button > i {
    padding-right: 0;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .header > .header-top .buttons > .big-beautiful-button {
    padding: 15px 10px 15px 0;
  }
}

.header > .header-top .buttons > .support-xl {
  background-color: #4183d7;
}

.header > .header-top .buttons > .support-xl:hover {
  background-color: #2a6ec6;
}

.header > .header-top .buttons > .contact-xl {
  background-color: #999aa2;
}

.header > .header-top .buttons > .contact-xl:hover {
  background-color: #84858f;
}

.header > .header-top .buttons > .hamburger {
  background-color: #333645;
  color: #fff;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 0.1rem;
  height: 56px;
  display: block;
  top: 15px;
  right: 0px;
  padding: 10px 12px;
}

.header > .header-top .buttons > .hamburger > .menutext {
  font-size: 0.75rem;
  line-height: 1.6rem;
  margin-top: 5px;
}

.header > .header-top .buttons > .hamburger:hover {
  background-color: #22242e;
}

@media only screen and (max-width: 768px) {
  .searchbar-lg {
    display: none;
  }
  .searchbar-mobile {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) and (-ms-high-contrast: active), only screen and (max-width: 768px) and (-ms-high-contrast: none) {
  .searchbar-mobile > button {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    margin-bottom: 30px;
  }
  .logo {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .support > i {
    display: none;
  }
  .header {
    margin-bottom: 30px;
  }
  .header > .searchbar-mobile {
    display: none;
  }
  .header > .searchbar-mobile > i {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .searchbar-lg {
    position: absolute;
    top: 15px;
    right: 140px;
  }
  .searchbar-lg > form {
    position: relative;
  }
  .searchbar-lg > form > input {
    width: 200px;
    height: 56px;
    border: 1px solid #999aa2;
    padding-left: 15px;
    padding-right: 30px;
  }
  .searchbar-lg > form > input:focus {
    border-color: #5bc0de;
    -webkit-box-shadow: 0 0 8px #5bc0de;
            box-shadow: 0 0 8px #5bc0de;
  }
  .searchbar-lg > form > button {
    position: absolute;
    background-color: #999aa2;
    border: inherit;
    height: 56px;
    width: 63px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    top: 0px;
    right: -40px;
    padding: 7px 20px 3px;
  }
  .searchbar-lg > form > button > i {
    font-size: 20px;
  }
  .searchbar-lg > form > button:hover {
    background-color: #84858f;
  }
}

@media only screen and (max-width: 992px) {
  .big-beautiful-button {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .searchbar-lg > form {
    border: none;
  }
  .searchbar-lg > form > input {
    display: none;
  }
  .searchbar-lg > form > button {
    border-radius: 3px;
    right: -20px;
    top: 0px;
  }
  .support-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 350px;
  }
  .contact-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    top: 15px;
    right: 200px;
  }
  .header-top {
    width: 1010px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1280px) {
  .header-top {
    width: 1298px;
    margin: 0 auto;
  }
  .searchbar-lg > form > input {
    display: block;
    border: 1px solid #999aa2;
  }
  .searchbar-lg > form > button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    right: -40px;
  }
  .support-xl {
    right: 530px;
  }
  .contact-xl {
    right: 380px;
  }
}

* {
  margin: 0 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* ul, * li, * a, * p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

* a {
  text-decoration: none;
}

* input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

* input[type="email"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

* input[type="checkbox"]::-ms-check {
  display: none;
  width: 0;
  height: 0;
}
/*# sourceMappingURL=main.css.map */