// ====================================================================================
// Styling for the footer section of the page
// ====================================================================================
footer {
    background-color: $darkest-blue;
    .footer-main{
        p {
            font-size: .8125rem;
            line-height: 1.375rem;
        }
        .footer-content {
            // flexbox settings
            display: flex;
            flex-direction: column;
            // internal properties
            padding: 30px 30px;
            margin: 0 auto;
            ul {
                padding-left: 0;
            }
            // tweaks to divs for inside of the footer
            & > div {
                color: white;
                text-decoration: none;
                margin-bottom: 30px;
                ul li {
                    list-style-type: none;
                    font-size: .8125rem;
                    line-height: 1.375rem; 
                }   
                h4{
                    margin-bottom: 26px;
                    font-weight: 400;
                    font-size: 1rem;
                } 
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {  text-decoration: underline;   }
                }
            }
            .social-con {
                .button-container {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 30px;
                    column-gap: 30px; 
                    a {
                        display: block;
                        text-align: center;
                        min-width: 45%;
                        height: 50px;
                        padding: 10px;
                        background-color: rgba(0,0,0,.25);
                    }
                    .facebook:hover     {   background-color: #3b5998;  }
                    .twitter:hover      {   background-color: #00aced;  }
                    .linked-in:hover    {   background-color: #0077b5;  }
                    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                        & > .twitter    {   margin-left: 30px;            }
                        & > .linked-in  {   margin-top: 20px;             }
                    }
                }
            }
        }
    }
}
.awards{
    background-color: $white-text;
    padding:50px 0px;
}
.awards-1, .awards-2 {
    //  Flexbox Settings
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    // Margins
    margin-bottom: 30px;
    margin-left: 64px;
    margin-right: 64px;
    // move images from black and white to hidden and show coloured ones on hover
    & > .greyscale {
        img:first-of-type       {   display: block;  }
        img:last-of-type        {   display: none;   }
        &:hover {
            img:first-of-type   {   display: none;   }   
            img:last-of-type    {   display: block;  }
        }
    }
}
.awards-2{
    //  Flexbox Settings
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    // Margins
    margin-bottom: 10px;
}
// ====================================================================================
// End of Styling for the footer section of the page
// ====================================================================================


// ====================================================================================
// Media Queries for the footer Section
// ====================================================================================

@media (min-width: $screen-md-min) {
    footer {
        .footer-main {
            .footer-content {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 30px 15px;
                & > div { width: 50%;  }
            }
        }
    }
}
@media (min-width: $screen-lg-min) {
    footer {
        .footer-main {
            .footer-content {
                width: 1010px;
                padding: 30px 0px;      
                & > div {       
                    margin: 0 auto;
                    width: 25%;
                }
            }
        }
    }
}
@media (min-width: 1080px) {
    footer {
        .footer-main {
            .footer-content {
                width: 1096px;
                padding: 30px 0px;   
                & > div {      
                    margin: 0 auto;
                    width: 20%;
                }
                & > .social-con{ width: 30%; }
            }
        }
    }
}
@media (min-width: $screen-xl-min) {
    footer {
        .footer-main {
            .footer-content {
                width: 1296px;
                padding: 30px 0px;
                & > div {
                    margin: 0 auto;
                    width: 20%;
                }
                & > .social-con{  width: 30%;  }
            }
        }
    }
}
@-moz-document url-prefix(){
    .button-container{
        & > a {
            & > img {
                height: 30px;
                width: 30px;
            }
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .button-container{
        & > a{ margin-bottom: 15px; }
    }
}
// ====================================================================================
// End of media queries for the footer section of the page
// ====================================================================================