// ====================================================================================
// Main Styling for the banner element
// ====================================================================================

.banner{
    // Makes the banner fit the container size
    height: 100%;
    min-width: 100%;
    position: relative;
    // Adding in the security image in the background
    background-image: url("../../img/security.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
   

     & > .banner-overlay{   // This creates a subtle darkening gradient that layers over the top of the image
         width: 100%;
         height: 100%;
         background: linear-gradient(270deg, transparent 0%, #000),
         rgba(0,0,0,0.15);
         & > .banner-text{   // Adjusting text inside the banner 
             & > h1{  
                 // Make the heading text larger and bolder
                 font-size: 3.5rem;  
                 letter-spacing: .4px;
                 font-weight: 400;
             }
             & > p{ // Setting text to match site and margin to prevent excess space between lines
                 font-size: 20px;
                 margin-bottom:.5rem;
             }

             // Some text alignment settings, centers and prevents it from moving around madly
             margin-bottom: .5rem;
            //  margin: 0 auto;
             text-align: center;
             display: block;
             padding: 15% 0%;
             justify-content: center;
             color:$white-text;
             & > a{ color:$white-text; } // Anchor tags set to white
             
             & > .btn-banner{
                // Setting the button element to match the content
                // Cyber Sec colour scheme
                background-color: $security-color;
                color:$white-text; 
                
                // Spacing and positioning relative to other elements
                border-radius: 3px;               
                border: none;                      
                padding: 5px 20px;                 
                height: auto;                      
                font-size:1.25rem;                 
                line-height: 45px;                                         
                margin: 30px 0;   
                // ====================================================================================
                
                
                & > i{ // Spacing the arrow further to the right of the text.
                    margin-left:12px;
                }

                &:hover{ // Basic changes for hovering on the button
                    background-color: $security-color-darker;
                    cursor: pointer;
                }
            }
        }
    }
}
// ====================================================================================
// End of styling for the banner element
// ====================================================================================

// ####################################################################################

// ====================================================================================
// Media Queries for the banner element
// ====================================================================================


// Note: A media query for centering objects at smaller view sizes is not needed as the property
//       is inherited from parent object.
 @media only screen and (min-width:$screen-xl-min){ // Internal banner elements on left side at larger screen size
    .banner-text{
        width: 1300px;
        & > h1, p { text-align: left; }
        & > button{ float: left;      }
        
    } 
}

// ====================================================================================
// End of Media Queries for the banner element
// ====================================================================================