// ====================================================================================
// Styling the Navigation card elements
// ====================================================================================
.nav-cards{
    // internal settings for card elements
    padding-top: 30px;
    padding-bottom: 30px;
    
    & > button:hover{ cursor:pointer; } // Adding a pointer on hover

    & > .xl-row-nav , .xxl-row-nav .lg-row-nav {
        & > .card-nav{
            justify-content: center;
            padding: 30px 30px;
            display: flex;
            flex-direction: column;
            height: 300px;
            position: relative;
            box-shadow: inset 0 0px 0px rgba($shadow-light-grey, 90%);
            text-align: center;
            border: 1px solid $shadow-light-grey;
            border-radius: 3px;
            margin: 1rem 1rem;
            // ====================================================================================
            & >p { font-size: .8125rem; } // Setting font to match that of the main site
            & > h2{

                position: relative;
                font-size: 1.125rem;
                padding-bottom: 17px;
                margin: 0 0 11px;
                font-weight: 200;
                color: $darkest-blue;
                text-align: center;
                line-height: 1.1;
                display: block;
            }
            & > h2::after{
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 28px;
                height: 3px;
                display: block;
                background-color: $darkest-blue;
            }
            &:hover{
                // Setting the text and background properties to the colours they switch between
                & > p, h2{  color: $white-text; }
                & > h2::after{ background-color: $white-text; }
            }
            
            & > .nav-icon-con{
                // Setting the minimum sizes and border for the icons
                min-width: 50px;
                min-height: 50px;
                max-width: 51px;
                max-height: 51px;
                
                // Making circular and setting position
                border-radius: 50%;
                margin:0 auto 17px;
                position:relative;
                font-weight: 600;
                // ====================================================================================
                & > span{
                    & > span{
                        & > i{
                            // Centering the icons inside their parent circles
                            position: absolute;
                            top: 16px;
                            left: 16px;
                            // ====================================================================================
                        }
                    }
                }
            
            }
            // Centering text
            & > span{  text-align: center;  }
    
            & > .btn-nav{
                // Main styling for the buttons at bottom of each nav card  
                min-height: 45px;
                max-height: 45px;
                width: 150px;
                line-height: 35px;
                font-size: 1.063rem;
                white-space: normal;
                border:none;
                color: $white-text;
                border-radius: 3px;
                padding: 5px 15px;
                display: block;
                margin-bottom: 0;
                font-weight: 400;
                text-align: center;
                cursor: pointer;
                margin:0 auto;
                // ====================================================================================
            } 
        }
    }
}

// colour settings for the card interactions via hover etc. to invert colours 

// Initial card background colours before ::hover
.bespoke, #btn-bespoke{  background-color: $bespoke-color; }             // Bespoke Software
.IT, #btn-IT{  background-color: $it-support-color;}                     // IT Support
.marketing, #btn-marketing{ background-color: $marketing-color;}         // Marketing
.telecoms, #btn-telecoms{ background-color: $telecoms-color;}            // Telecoms
.web-design, #btn-web{ background-color: $web-color-darker;}             // Web Design
.security, #btn-security{ background-color: $security-color-darker;}     // Security
.schools, #btn-school{ background-color: $web-color-darker;}             // Devekoper Training


// Changes to card colours and internal element colours on ::hover
// Bespoke Software Card
.card-bespoke:hover{
    .nav-icon-con, #btn-bespoke{
        background-color: $white-text;
        color: $bespoke-color;
 }
    .spacer-rule{ background-color: $white-text; }
    i{ color: $bespoke-color; }
    background-color: $bespoke-color;
    color: $white-text;
    cursor: pointer;
}

// IT Support Card
.card-IT:hover{
    .nav-icon-con, #btn-IT{
        background-color: $white-text;
        color: $it-support-color;
 }
    .spacer-rule{  background-color: $white-text; }
    i{  color: $it-support-color;  }
    background-color: $it-support-color;
    color: $white-text;
    cursor: pointer;
}

// Marketing Card
.card-marketing:hover{
    .nav-icon-con, #btn-marketing{
        background-color: $white-text;
        color: $marketing-color;
    }
    .spacer-rule{  background-color: $white-text;  }
    i{   color: $marketing-color; }
    background-color: $marketing-color;
    color: $white-text;
    cursor: pointer;
}

// Telecoms Card
.card-telecoms:hover{
    .nav-icon-con, #btn-telecoms{
        background-color: $white-text;
        color: $telecoms-color;
    }
    .spacer-rule{  background-color: $white-text; }
    i{  color: $telecoms-color }
    background-color: $telecoms-color;
    color: $white-text;
    cursor: pointer;
}

// Web Design Card
.card-web:hover{
    .nav-icon-con, #btn-web{
        background-color: $white-text;
        color: $web-color-darker;
    }
    .spacer-rule{ background-color: $white-text;}

    i{ color: $web-color-darker;  }
    background-color: $web-color-darker;
    color: $white-text;
    cursor: pointer;
}

// Security Card
.card-security:hover{
    .nav-icon-con, #btn-security{
        background-color: $white-text;
        color: $security-color-darker;
    }

    i{ color: $security-color-darker;  }
    background-color: $security-color-darker;
    color: $white-text;
    cursor: pointer;
}

// Developer Training Card
.card-schools:hover{
    .nav-icon-con, #btn-school{
        background-color: $white-text;
        color: $web-color-darker;
    }
    i{ color: $web-color-darker; } 
    background-color: $web-color-darker;
    color: $white-text;
    cursor: pointer;
}
// ====================================================================================
// End of Styling for the navigation card componenets
// ====================================================================================



// ====================================================================================
// Media Queries for the card components
// ====================================================================================
@media only screen and (max-width: $screen-lg-min){
    .bespoke,.marketing,.IT,.telecoms,.security,.web-design,.schools{
        width: 100%;
        display:block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: $screen-md-min) and (max-width:$screen-xl-min){
    .lg-row-nav{
        display: flex;
        width: $screen-md-min;
        justify-content: space-around;
        margin: 0 auto;
    }
    .security,.schools,.web-design,.telecoms{
        width: 50%;
        display:block;
        margin: 0 auto;
    }
    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 50%;
        display:block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: $screen-lg-min){
    .xl-row-nav{
        display:flex;
        width: $screen-lg-min;
        margin: 25px auto;
        & > .card-nav{
            @media screen and (-ms-high-contrast: active) , (-ms-high-contrast: none) {  width: 33.3%; }  
        }
    }
    .bespoke,.IT,.marketing{
        width: 33.3%;
        float:left;
        display:block;
        margin: 0 auto;   
    }
}

@media only screen and (min-width: $screen-xl-min){ 
    .nav-cards{
        width: 1298px;
        margin: 0 auto;
    }
    .xxl-row-nav{
        display:flex;
        flex-direction: row;
        margin: 45px auto;
    }
    .lg-row-nav{
        display:flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0 0;    
    }
    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;    
    }
    .security,.schools,.web-design,.telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;     
    }

}
@-moz-document url-prefix(){
    .card-nav{
        & > p{ margin-bottom: 15px; }
    }
}
// ====================================================================================
// End of Media Queries for the card elements
// ====================================================================================