// ====================================================================================
// Styling for the companies components
// ====================================================================================

.companies{
    // Setting the flexbox portion for the companies logos
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    // Some internal settings
    margin: 0px 100px;
    padding: 50px 15px;
    // ====================================================================================
    & > .company{
        display: inline-block;
        & > img{
            vertical-align: middle;
            max-width: 100%;
            height: auto;
        }
        & > .tooltiptext { 
            // Settings for the speech bubble that pops up on hover
            // Colours
            background-color: $darkest-blue;
            color: $white-text;

            // hiding text and setting sizing and placement inside parent object
            visibility: hidden;
            min-width:260px;
            height: auto;
            text-align: center;
            padding: 15px 15px;
            position: absolute;
            z-index: 5;
            bottom: 70%;
            left: 25%;
            line-height: 30px;
            margin-left: -60px;
            margin-bottom: 70px;
            font-size: 1.0rem;
            // ====================================================================================
            & > h3{
                padding: 10px 10px;
            }
            & > p{
                // Some basic text settings and padding for the main paragraph element
                padding: 10px 10px;
                font-size: .875rem;
                line-height: 1.42857143;
            }      
            &::after{
                // Positioning
                content: "";
                position: absolute;
                top: 100%;
                left: 43%;
                margin-left: -20px;

                // Border settings to prettify it
                border-width: 40px;
                border-style: solid;
                border-color: $darkest-blue transparent transparent transparent;
                // ====================================================================================
                
            }
            & > .spacer-rule{
                background-color: $white-text;
                margin: 0 45%;
            }    
        }
        // Centering the tool tips above individual logos 
        & > .tbeat  { left: -45%;   }
        & > .tcrane { left:  -0%;   }
        & > .tbus   { left:  10%;   }
        & > .tnorth { left:  18%;   }
    }
    & >  .con-beat, .con-bus, .con-crane, .con-north {
        position: relative;
        & > img:last-of-type{
            display: none;
        }
        &:hover{
            & > img:first-of-type{
                display: none;
            }
            & > img:last-of-type{
                display:block;
            }
            & > .tooltiptext{
                visibility:visible;
            }
        }
    }
}
// ====================================================================================
// End of Styling for the companies components
// ====================================================================================

// ####################################################################################

// ====================================================================================
// Media Queries for the companies components
// ====================================================================================
// hidden at smaller resolutions
@media only screen and (max-width: $screen-md-min){ 
    .companies, .awards-1, .awards-2, .awards{
        display:none;
    }
}
// Reduce the scale a fraction at slightly smaller screen resolutions
@media only screen and (max-width: $screen-xl-min){
    .companies{
        & > .company{
            & >img{
                transform: scale(0.9);
            }
        }
    }
}
// Reduce scale a fraction further at slightly smaller screens
@media only screen and (max-width: $screen-lg-min){
    .companies{
        & > .company{
            & >img{
                transform: scale(0.8);
            }
        }
    }
}
// ====================================================================================
// End of media queries for the companies components
// ====================================================================================