// ====================================================================================
// Main Styling for the culture element
// ====================================================================================
.culture-back{
    // Positioning
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 15px;
    text-align: left;
    // ====================================================================================
    & > p,h2{
        color:$white-text;
        padding: 15px 15px;

        strong{
            font-weight: 600;
        }
    }
    & >h2{
        font-weight: 400;
        font-size: 2.25rem;
    }
    & > .btn-culture{
        //  Colour settings
        color: $darkest-blue;
        background-color: $white-text;

        // Internal spacings & Radius
        border-radius: 3px;
        height: 50px;
        width: auto;
        padding: 5px 15px;
        border: none;
        line-height: 35px;
        // Positioning
        margin-top: 15px;
        margin-bottom: 30px;
        margin-left:15px;
        display: block;
        justify-content: space-between;

        // ====================================================================================       
        & > a{
            color: $darkest-blue;
            position: relative;
            & > img{
                position: absolute;
                top: 0px;
                left: 110%;
            }
        }
        &:hover{
            background-color:#ebebeb;
        }
    }
}
.culture{ background-color: $darkest-blue;}
// ====================================================================================
// End of Styling for the culture segment
// ====================================================================================

// ====================================================================================

// ====================================================================================
// Media Queries for the culture component
// ====================================================================================
@media only screen and (min-width:$screen-lg-min){
    .culture{
        background-color: $darkest-blue;
        background-image: url("../img/netmatters-transp.png");
        background-repeat: no-repeat;
        background-position: right;
    }
    .culture-back{
        width: 1298px;
        margin: 0 auto;
        & > p,h1{  width: 50%;}
    }
}
// ====================================================================================
// End of Media Queries for the culture segement
// ====================================================================================