// ====================================================================================
// Styling for the navigation bar
// ====================================================================================
.navigation-bar{
    // Overall settings
    border-bottom: #ebebeb 1px solid;
    background-color: $darkest-blue;
    position: relative;   
    z-index: 100;
    & > .tab-wrapper{ 
        // Set the button wraps to flexbox
        display:flex;
        position: relative;

        // Lines that appear on the navigation bar
        border-left: 1px solid hsla(0,0%,100%,.1);
        border-right: 1px solid rgba(0,0,0,.25);
        // ====================================================================================        

        & > .bar-child{
            // Spacing and positioning of each individual button
            display: flex;
            width: 20%;
            flex-direction: column;
            align-items: center;
            padding-top: 19px;
            padding-bottom: 18px;
            line-height: 1;
            font-size: 1.125rem;

            // Colours and borders
            color: $white-text;
            background-color: $darkest-blue;
            border-right: 1px solid hsla(0,0%,100%,.1);
            border-left: 1px solid rgba(0,0,0,.25);
            // ====================================================================================            
            &:hover { cursor: pointer; }
            & > .tab-s-text{ font-size: .7rem; }   
            & > .icon-tab{
                // Internal Properties
                padding-bottom: 10px;
                text-align: center;
                vertical-align: middle;
                font-size: 1.3rem;
                line-height: 1px;
                // Positioning
                position:relative;
                // ====================================================================================
                & > span{
                    & > i{
                        font-size: 1.438rem;
                        line-height: 1;
                    }
                }   
            }
            & > .drop-down-wrapper{
                // Internal Properties
                top: 100%;
                width: 200vw;
                padding: 22px 0px;                
                // Positioning
                display: none;
                z-index: 10;
                position:absolute;
                // ====================================================================================
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    width: 200vw;
                    left: -100%;
                }
            }
            & > .drop-down{
                // Internal Properties
                width: 100vw;
                padding: 8px 0px;
                text-decoration:none;                
                // Positioning
                display:none;
                flex-direction: row;
                position:absolute;
                top: 100%;
                left: 0%;
                z-index: 10;
                // ====================================================================================
                & > ul{
                    // Internal Properties
                    list-style: none;
                    text-align: left;
                    margin: 0 auto;
                    width: auto;
                    // Positioning
                    display:flex;
                    justify-content: space-between;
                    float: left;
                    position: absolute;
                    left: -45px;
                    // ====================================================================================
                    & >li{
                        display:block;
                        float:left;
                        padding: 10px 15px; 
                    }
                }
            }         
        } 
        & > .web-tab{
            &:hover{
                background-color: $web-color;
                & > .icon-tab{
                    & > span{
                        & > i{  color: $white-text; }
                    }
                }
                & > .drop-down-web-design{
                    display:flex;
                    background-color:  $web-color-darker;
                    & > ul{ background-color:  $web-color-darker; }
                }
                & > .drop-down-wrapper{
                    display: flex;
                    background-color:  $web-color-darker;
                }
            }
        }
        & > .IT-tab{
            &:hover{
                background-color: $it-support-color;
                & > .icon-tab{
                    & > span{
                        & > i{ color: $white-text;  }
                    }
                }
                & > .drop-down-it-support{
                    display: flex;
                    background-color: $it-support-color-darker;
                    & > ul {  background-color: $it-support-color-darker; }
                }
                & > .drop-down-wrapper{
                    display: flex;
                    background-color:  $it-support-color-darker;
                }
            }
        }
        & > .telecoms-tab{
            &:hover{
                background-color: $telecoms-color;
                & > .icon-tab{
                    & > span{
                        & > i{  color: $white-text;  }
                    }
                }
                & > .drop-down-telecoms{
                    display: flex;
                    background-color: $telecoms-color-darker;
                    & > ul {  background-color: $telecoms-color-darker; }
                }
                & > .drop-down-wrapper{
                    display: flex;
                    background-color:  $telecoms-color-darker;
                }
            }
        }
        & > .bespoke-tab{
            &:hover{
                background-color: $bespoke-color;
                & > .icon-tab{
                    & > span{
                        & > i{  color: $white-text; }
                    }
                }
                & > .drop-down-bespoke{
                    display: flex;
                    background-color: $bespoke-color-darker;
                    & > ul {  background-color: $bespoke-color-darker;  }
                }
                & > .drop-down-wrapper{
                    display: flex;
                    background-color:  $bespoke-color-darker;
                }
            }
        }
        // Hover effects for marketing tab
        & > .marketing-tab{
            &:hover{
                background-color: $marketing-color;
                & > .icon-tab{
                    & > span{
                        & > i{  color: $white-text; }
                    }
                }
                & > .drop-down-marketing{
                    display: flex;
                    background-color: $marketing-color-darker;
                    & > ul { background-color: $marketing-color-darker;  }
                }
                & > .drop-down-wrapper{
                    display: flex;
                    background-color:  $marketing-color-darker;
                }
            }
        }
    
        & > .security-tab{
            &:hover{
                background-color: $security-color;
                & > .icon-tab{
                    & > span{
                        & > i{ color: $white-text;  }
                    }
                }
                & > .dd-security{
                    display: flex;
                    background-color: $security-color-darker;
                    & > ul { background-color: $security-color-darker;   }
                }
                & > .drop-down-wrapper{
                    display: flex;
                    background-color: $security-color-darker;
                }
            }
        }

        & > .tab-s-text{   font-size: 0.7rem;   }
        & > .tab-lg-text{  font-size: 1.05rem;  }
        
    }
}
// ====================================================================================
// End of styling for the navigation bar component
// ====================================================================================

// ====================================================================================
// Media Queries for the navigation-bar component
// ====================================================================================

// Breakpoint for navigation bar set to the width of it rather than the slightly lower number of 992px
// as that was causing some scaling issues between the 1010px and 992px range that looked bad
@media only screen and (max-width:1010px){
    .navigation-bar{  display: none; }
}

// Setting the navigation bar to scale-down at mid-size ranges
@media only screen and (min-width:1010px){
    .navigation-bar{
        & > .tab-wrapper{
            width: $screen-lg-min;
            margin: 0 auto;
            & > .bar-child{
                & > .drop-down{
                    & > ul{
                        & > li{ font-size: 0.805rem; }
                    }
                }
            }
        }
    } 
}


// The widest setting for the navigation bar
@media only screen and (min-width:$screen-xl-min){
    .navigation-bar{
        .tab-wrapper{
            min-width: 1298px;
            margin: 0 auto;
            & > .bar-child{
                & > .drop-down{
                    & > ul{
                        & > li{    font-size: 1.0rem; }
                    }
                }
            }
            
        }
    }
    
}

// ====================================================================================
//  End of Media Queries for the navigation bar component
// ====================================================================================