// ====================================================================================
// Styling for the Newsletter components
// ====================================================================================
.newsletter{
    background-color: $off-white;
    height: 100%;
}
.sign-up-form{
    // Colours
    background-color: $off-white;
    color: $darkest-blue;

    // Positioning
    display: flex;
    flex-direction: column;
    position:relative;
    z-index:1;
    // Internal Properties
    height:100%;
    padding: 30px 30px;
    margin: 0 30px;

    // ====================================================================================
    & > .form{
        padding: 20px 30px;
        & > h2{
            font-size: 2rem;
            font-weight: 400;
        }
        & > .form-box {
            & > .form-group{
                margin-right: 30px;
                & > label{
                    margin-bottom: 5px;
                    font-weight: 600;
                    & > span{   color:red;  }
                }
                & > .field{
                    // Colours & Animations
                    border: 1px solid $shadow-light-grey;                   
                    box-shadow: inset 0 1px 1px rgba($off-white , 8%);
                    transition: border-color .3s ease-in-out, box-shadow .15s ease-in-out;
                    // Internal Properties
                    padding: 5px 15px;
                    border-radius: 2px;
                    height: 45px;
                    width:100%;
                    // Positioning
                    margin-top: 15px;
                    margin-bottom: 15px;

                    // ====================================================================================
                    &:focus{
                        border-color: $search-box-highlight;
                        box-shadow: inset 0 1px 1px rgba($off-white , 8%), 0 0 8px rgba($search-box-highlight , 60%);
                    }
                }
            }
        }
        & > .checkbox{
            // Positioning
            display: flex;
            flex-direction: row;
            vertical-align: middle;
            position: relative;
            justify-content: space-between;
            // ====================================================================================
            & > .fakebox-IE{
                // Colour settings
                border: 3px solid $darkest-blue;

                // Internal Properties
                height: 30px;
                width: 30px;
                border-radius: 3px;
                display: none;


                // Positioning
                position: absolute;
                top:5px;
                left:0px;
                z-index: -1;

                // ====================================================================================
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
                    display: block; 
                }
            }
            & > label{
                position: absolute;
                top:8px;
                left:8px;
                display:none; 
            } 
            & > span{
                & > label{
                    color: $darkest-blue;
                    font-weight: 600;
                    line-height: 32px;
                    &:hover{ cursor:pointer;  }
                }
            }
            & > input{        
                // Colours
                border: 3px solid $darkest-blue;
                // Internal Properties
                height: 30px;
                min-width: 30px;
                margin-top: 5px;
                margin-right: 15px;
                border-radius: 3px;
                // Positioning
                display: block;               
                // ====================================================================================
                &:checked{
                    background: $darkest-blue;
                    & ~ label { display:inline; }
                }
                &:not(:checked){
                    // Colours
                    border: 3px solid $darkest-blue;
                    // Internal Properties
                    height: 30px;
                    min-width: 30px; 
                    border-radius: 3px;                                       
                    // Positioning
                    margin-top: 5px;
                    margin-right: 15px;
                    display: block;
                    // ====================================================================================
                }
                &:hover{ cursor:pointer; }   // Switch cursor to pointer on hover  
            } 
        }
        & > button{
            // Styling for button underneath form

            // Colours
            color: $white-text;
            background-color: $darkest-blue;
            // Internal Properties
            border-radius: 3px;
            border: none;
            height:auto;
            padding: 10px 15px;
            font-size: 1.063rem;
            font-weight: 400;
            // Positioning
            margin-bottom: 10px;
            margin-top: 20px;
            // ====================================================================================
            &:hover{
                background-color: #22242e;
                border-color: $off-black;;
                cursor: pointer;
            }
        }     
    }
}
.policy{
    color: $darkest-blue;
    text-decoration: underline;
    &:hover{
        color: $off-black;
        text-decoration: underline;
        cursor: pointer;
    }
}
// ====================================================================================
// End of styling for the Newsletter component
// ====================================================================================


// ====================================================================================
// Media Queries for the newsletter components
// ====================================================================================

// These queries will include the signup form as a whole
@media only screen and (min-width: $screen-lg-min){
    .form-box{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .form-group{
        padding: 0px 0px;
        margin-bottom: 15px;
        width: 50%;
        height: 47px;
    }
    .sign-up-form{
        width: 1010px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: $screen-xl-min){
    .sign-up-form{
        width: 1298px;
        margin: 0 auto;
    }
}
