// General element hides/fixes
 
//test fix for objects not disappearing at smaller resolutions
@media only screen and (max-width:$screen-md-min) {
    .hidden-sm {
        display:none!important;
    }
    .hidden-xs {
        display:none!important;
    }
}
// Hides objects at screen sizes smaller than 1009px (Value of $screen-lg-min)
@media (max-width: $screen-lg-min) {
    .hidden-sm{
        display:none!important;
    }
}

// ====================================================================================
// Universal display queries
// ====================================================================================

//Mobile phone viewing
@media only screen and (max-width: 443px){
    .header-inner, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: 425px;
        margin: 0 auto;
    }
}
// Tablet size viewing
@media only screen and (min-width: $screen-md-min){
    .header-inner, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: $screen-md-min;
        margin: 0 auto;
    }
}
//small laptops
@media only screen and (min-width: 1010px){
    .header-inner, .searchbar-mobile, .banner-text, .tab-wrapper,
    .lg-row-nav, .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content, .awards-1, .awards-2 {
        width: $screen-lg-min;
        margin: 0 auto;
    }
}

@media only screen and (min-width: $screen-xl-min){
    .header-inner, .searchbar-mobile, .banner-text, .tab-wrapper,
    .xl-row-nav, .xxl-row-nav, .nav-cards,
    .culture-back, .news-header-section, .companies,
    .news-cards, .footer-content, .sign-up-form, .awards-1, .awards-2 {
        width: 1298px;
        margin: 0 auto;
    }
}

//cross browser fixes
//header
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .menutext{
        margin: 0 0;
        padding: 0 0;
        
        position: absolute;
        top: 25px;
        right: 12px;
    }
    .hamburger-inner{
        margin-bottom: 20px;
        margin-top: -8px;
    }
}

@-moz-document url-prefix(){
    .menutext{
        margin: 0 0;
        padding: 0 0;
        
        position: absolute;
        top: 25px;
        right: 12px;
    }
    .hamburger-inner{
        margin-bottom: 20px;
        margin-top: -8px;
    }
}
