//header queries

//show large searchbar
@media only screen and (max-width:768px){
    .searchbar-lg{
        display: none;
    }
    
    .searchbar-mobile{
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            & > button{
                margin-right: 20px;
            }
        }
        margin: 0 auto;
    }
    .header{
        margin-bottom: 30px;
    }

    .logo{
        max-width: 80%;
    }
    
}
//hide call button and mobile search
@media only screen and (min-width:768px){
    .support{
        & > i{
            display: none;
        }
    }

    .header{
        & > .searchbar-mobile{
            display: none;
            & > i{
                display: none;
            }
        }
        margin-bottom: 30px;
    }
        
}
//show desktop/tablet search bar
@media only screen and (min-width:768px){
    .searchbar-lg{
        position:absolute;
        top:15px;
        right: 140px;

        & > form{
            position:relative;
            & > input{
                width:200px;
                height: 56px;
                border: 1px solid #999aa2;
                padding-left: 15px;
                padding-right: 30px;

                &:focus{
                    
                    border-color: #5bc0de;
                    box-shadow: 0 0 8px rgba(#5bc0de , 60%);
                    
                }
            }
            & > button{
                position: absolute;
                background-color: #999aa2;
                border: inherit;
                height: 56px;
                width: 63px;
                border-radius: 3px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                top:0px;
                right: -40px;
                padding: 7px 20px 3px;
                & > i {
                    font-size: 20px;
                    
                }
                &:hover{
                    background-color: #84858f;
                }
                
            }
        }
        
    }
}
//hide support and contact buttons
@media only screen and (max-width:992px){
    .big-beautiful-button{
        display: none;
    }
}

//show contact buttons
@media only screen and (min-width:992px){
    //hide tablet/desktop searchbar
    .searchbar-lg{
        & > form{
            border:none;
            & > input{
                display:none;
                
            }
            & > button{
                border-radius: 3px;
                right: -20px;
                top:0px;
            }
        }
        
    }

    .support-xl{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        border:none;
        border-radius:3px;
        color:#fff;
        position: absolute;
        top:15px;
        right: 350px;
        
    }

    .contact-xl{
        display:flex;
        justify-content: space-around;
        flex-direction: row;
        border:none;
        border-radius:3px;
        color:#fff;
        position: absolute;
        top:15px;
        right: 200px;
        
    }

    .header-top{
        width:1010px;
        margin: 0 auto;
    }

}



@media only screen and (min-width:1280px){
    
    .header-top{
        width:1298px;
        margin: 0 auto;
    }
    
    .searchbar-lg{
        & > form{
            
            & > input{
                display:block;
                border: 1px solid #999aa2;
                
            }
            & > button{
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                right:-40px;
            }
        }
        
    }

    .support-xl{
        right: 530px;
        
        
    }

    .contact-xl{
        right: 380px;
       
    }
}

//navbar queries
@media only screen and (max-width:1010px){
    .navbar{
        display: none;
    }
}

@media only screen and (min-width:1010px){
    .navbar{
        & > .tab-wrapper{
            width: 992px;
            margin: 0 auto;
            & > .bar-child{
                & > .drop-down{
                    & > ul{
                        & > li{
                            font-size: 0.805rem;
                        }
                    }
                }
            }
        }
    }
    
}



@media only screen and (min-width:1280px){
    .navbar{
        .tab-wrapper{
            min-width: 1298px;
            margin: 0 auto;
            & > .bar-child{
                & > .drop-down{
                    & > ul{
                        & > li{
                            font-size: 1.0rem;
                        }
                    }
                }
            }
            
        }
    }
    
}

//banner query
@media only screen and (min-width:1280px)
{
    .banner-text{
        width: 1298px;
        
        & > h1, p{
            text-align: left;
            
        }
        
        & > button{
            float: left;
           
        }
        
    }

    .banner{
        & >.banner-overlay{
            background: linear-gradient(270deg, transparent 0%, #000);
        }
    }

    
}


//culture query
@media only screen and (min-width:992px){
    .culture{
        background-image: url("../img/netmatters-transp.png");
        background-repeat: no-repeat;
        background-color: $darkest-blue;
        background-position: right;
    }
    .culture-back{
        width: 1298px;
        margin: 0 auto;
        background-color: rgba(0,0,0,0);
        

        & > p,h1{
            width: 50%;
        }
    }
    
}

//nav queries
@media only screen and (max-width: 992px){
    .bespoke,.marketing,.IT,.telecoms,.security,.web-design,.schools{
        width: 100%;
        display:block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width:1280px){
    .lg-row-nav{
        display: flex;
        width: 768px;
        justify-content: space-around;
        margin: 0 auto;
    }

    .security,.schools,.web-design,.telecoms{
        width: 50%;
        display:block;
        margin: 0 auto;
        
        
    }
    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 50%;
        display:block;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px){
    .xl-row-nav{
        display:flex;
        width: 992px;
        //justify-content: space-between;
        margin: 25px auto;
        
        & > .card-nav{
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                width: 33.3%;
            }
            
        }
    }

    .bespoke,.IT,.marketing{
        width: 33.3%;
        float:left;
        display:block;
        margin: 0 auto;
        
    }
    

}

@media only screen and (min-width: 1280px){
    .nav-cards{
        width: 1298px;
        margin: 0 auto;
    }
    
    .xxl-row-nav{
        display:flex;
        flex-direction: row;
        //justify-content: stretch;
        margin: 45px auto;
    }

    // .xl-row-nav{
    //     margin: 0 auto;
    //     width: 1298px;
    // }

    .lg-row-nav{
        display:flex;
        justify-content: space-around;
        margin: 0 auto;
        padding: 0 0;
        
    }

    .card-security,.card-schools,.card-web,.card-telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;
        
        
    }
    .security,.schools,.web-design,.telecoms{
        width: 45%;
        height: 100%;
        display:block;
        float:left;
        margin: 0 auto;
        
        
    }

    



}

@-moz-document url-prefix(){
    .card-nav{
        & > p{
            margin-bottom: 15px;
        }
    }
}

//news queries


@media only screen and (min-width: 768px){
    .news-cards{
        display: flex;
        justify-content: space-between;
        & > .card:last-of-type{
            display: none;
        }
    }

    .card-news{
        padding: 0 0px; 
    }

}

@media only screen and (min-width: 1280px){
    .news-cards{
        width: 1298px;
        margin: 0 auto;
        & > .card:last-of-type{
            display: block;
        }
    }
    
    .news-image:hover{
                
        & > .img-overlay{
            
            & > img {
                transform: scale(1.1);
                background-color: #fff;
            }

        }  
        
        .cover{
            z-index: 2;
            background-color: #fff;
        }
                
    }
}

//sign-up query
@media only screen and (min-width: 992px){
    .form-box{
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .form-group{
        padding: 0px 0px;
        margin-bottom: 15px;
        width: 50%;
        height: 47px;
    }
    .sign-up-form{
        width: 1010px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1280px){
    .sign-up-form{
        width: 1298px;
        margin: 0 auto;
    }
}
//footer queries
@media (min-width: 768px) {
    footer {
        .footer-main {
    
            .footer-content {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 30px 15px;
    
                & > div {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    footer {

        .footer-main {
            

            .footer-content {
                width: 1010px;
                padding: 30px 0px;
                
                & > div {
                    
                    margin: 0 auto;
                    width: 25%;
                }
            }
        }
    }
}

@media (min-width: 1080px) {
    footer {

        .footer-main {
            

            .footer-content {
                width: 1096px;
                padding: 30px 0px;
                
                & > div {
                    
                    margin: 0 auto;
                    width: 20%;
                }
                & > .social-con{
                    width: 30%;
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    footer {

        .footer-main {
            

            .footer-content {
                width: 1296px;
                padding: 30px 0px;
                
                & > div {
                    
                    margin: 0 auto;
                    width: 20%;
                }
                & > .social-con{
                    width: 30%;
                }
            }
        }
    }
}


@-moz-document url-prefix(){
    .button-container{
        & > a {
            & > img {
                width: 30px;
                height: 30px;
            }
        }
    }
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .button-container{
        & > a{
            margin-bottom: 15px;
        }
    }
}

//company queries

@media only screen and (max-width: 768px){
    .companies, .awards-1, .awards-2, .awards{
        display:none;
    }
}

@media only screen and (max-width: 992px){
    .companies{
        & > .company{
            & >img{
                transform: scale(0.8);
            }
        }
    }
}

@media only screen and (max-width: 1280px){
    .companies{
        & > .company{
            & >img{
                transform: scale(0.9);
            }
        }
    }
}

//universal display queries

//mobiles
@media only screen and (max-width: 443px){
    .header-top, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: 425px;
        margin: 0 auto;
    }
}
//tablets
@media only screen and (min-width: 786px){
    .header-top, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: 768px;
        margin: 0 auto;
    }
}
//small laptops
@media only screen and (min-width: 1010px){
    .header-top, .searchbar-mobile, .banner-text, .tab-wrapper,
    .lg-row-nav, .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content, .awards-1, .awards-2 {
        width: 992px;
        margin: 0 auto;
    }
    
    
}

@media only screen and (min-width: 1280px){
    .header-top, .searchbar-mobile, .banner-text, .tab-wrapper,
    .xl-row-nav, .xxl-row-nav, .nav-cards,
    .culture-back, .news-header-section, .companies,
    .news-cards, .footer-content, .sign-up-form, .awards-1, .awards-2 {
        width: 1298px;
        margin: 0 auto;
    }
}

//cross browser fixes
//header
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .menutext{
        margin: 0 0;
        padding: 0 0;
        
        position: absolute;
        top: 25px;
        right: 12px;
    }
    .hamburger-inner{
        margin-bottom: 20px;
        margin-top: -8px;
    }
}

@-moz-document url-prefix(){
    .menutext{
        margin: 0 0;
        padding: 0 0;
        
        position: absolute;
        top: 25px;
        right: 12px;
    }
    .hamburger-inner{
        margin-bottom: 20px;
        margin-top: -8px;
    }
}