// General element hides/fixes
 
//test fix for objects not disappearing at smaller resolutions
@media only screen and (max-width:$screen-md-min) {
    .hidden-small {
        display:none!important;
    }
    .hidden-xs {
        display:none!important;
    }
}
// Hides objects at screen sizes smaller than 1009px (Value of $screen-lg-min)
@media (max-width: $screen-lg-min) {
    .hidden-small{
        display:none!important;
    }
}

// ====================================================================================
// Universal display queries
// ====================================================================================

// These queries all mimic the same structure, just differing invariable and margin use

// Adjustments for viewing at mobile phone sizes
@media only screen and (max-width: 443px){
    .header-inner, .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: 425px;
        margin: 0 auto;
    }
}
// ====================================================================================
// Adjustments for viewing on medium sized screens/tablets
@media only screen and (min-width: $screen-md-min){
     .searchbar-mobile, .banner-text,
    .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content {
        width: $screen-md-min;
        margin: 0 auto;
    }
}
// ====================================================================================
// Adjustments for viewing on Smaller laptops
@media only screen and (min-width: 1010px){
    .header-inner, .searchbar-mobile, .banner-text, .tab-wrapper,
    .lg-row-nav, .nav-cards, .culture-back, .news-header-section,
    .news-cards, .companies, .sign-up-form, .footer-content, .awards-1, .awards-2 {
        width: $screen-lg-min;
        margin: 0 auto;
    }
}
// Adjustments for viewing at normal desktop resolutions
@media only screen and (min-width: $screen-xl-min){
    .header-inner, .searchbar-mobile, .banner-text, .tab-wrapper,
    .xl-row-nav, .xxl-row-nav, .nav-cards,
    .culture-back, .news-header-section, .companies,
    .news-cards, .footer-content, .sign-up-form, .awards-1, .awards-2 {
        width: 1298px;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
}
// ====================================================================================