//colours - will be seperated into categories based on use
$shadow-light-grey: #ccc;
$search-border-grey: #999aa2;
$white-text: #fff;
$off-white: #ddd;
$darkest-blue: #333645;


//Navbar colour variables

$web-color: #926fb1;
$web-color-hovered: #79539a;

$it-support-color: #4183d7;
$it-support-color-hovered: #286abd;

$telecoms-color: #d64541;
$telecoms-color-hovered:#bc2c28;

$bespoke-color: #67809f;
$bespoke-color-hovered: #526781;

$marketing-color: #23cc71;
$marketing-color-hovered:#25a25a;

$security-color: #de093f;
$security-color-hovered: #f62459;


// screen width variables

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1009px;

// Large tablets and desktops
$screen-xl-min: 1280px;

